@charset "UTF-8";
body {
  background-color: #111;
  font-family: 'sans-serif';
  font-size: 14pt; }

#wrapper {
  text-align: center; }

#scheme-container {
  width: 100%;
  height: 600px;
  text-align: center;
  display: flex; }
  #scheme-container .color-block:hover .color-hex {
    top: 0;
    transition: top 500ms ease; }
  #scheme-container .color-block:hover .color-menu {
    top: 0;
    transition: top 500ms ease; }
  #scheme-container .color-block:hover .faders {
    bottom: 0;
    transition: bottom 500ms ease; }
  #scheme-container .color-block {
    overflow: hidden;
    width: 100%;
    min-width: 200px;
    height: 100%;
    background-color: #000;
    position: relative;
    color: #fff;
    font-size: 110%; }
    #scheme-container .color-block .color-hex {
      position: absolute;
      left: 0;
      height: 30px;
      top: -50px;
      padding: 0.25em 0.5em;
      background-color: #000;
      border-bottom-right-radius: 15px;
      box-shadow: 0 0  15px 0 #000;
      font-weight: bold;
      transition: top 500ms ease;
      cursor: pointer; }
    #scheme-container .color-block .color-menu {
      position: absolute;
      right: 0;
      top: -50px;
      transition: top 500ms ease;
      height: 30px;
      padding: 0.25em 0.5em;
      background-color: #000;
      border-bottom-left-radius: 15px;
      box-shadow: 0 0 15px 0 #000; }
      #scheme-container .color-block .color-menu i {
        cursor: pointer;
        padding: 0 0.25em; }
    #scheme-container .color-block .faders {
      color: #fff;
      position: absolute;
      bottom: -35px;
      transition: bottom 500ms ease;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; }
      #scheme-container .color-block .faders .fader {
        cursor: ns-resize;
        padding: 10px 0;
        font-size: 60%; }
        #scheme-container .color-block .faders .fader span[class$=up-arrow]:before {
          content: "▼"; }
        #scheme-container .color-block .faders .fader span[class$=-value] {
          display: inline-block; }
        #scheme-container .color-block .faders .fader span[class$=down-arrow]:before {
          content: "▲"; }
      #scheme-container .color-block .faders .red {
        background-color: #f00; }
      #scheme-container .color-block .faders .green {
        background-color: #0f0; }
      #scheme-container .color-block .faders .blue {
        background-color: #00f; }

.color-block-template {
  display: none; }

#newColorButton {
  font-size: 125%;
  display: inline-block;
  text-align: center;
  margin: 2em 0 1em 0;
  padding: 0.5em 1em;
  border-radius: 30px;
  color: #fff;
  background-color: #345;
  transition: background-color 500ms ease; }

#newColorButton:hover {
  background-color: #567;
  cursor: pointer;
  transition: background-color 500ms ease; }

#instructions {
  color: #fff;
  padding: 0 7em;
  text-align: left;
  font-size: 110%; }
  #instructions .add-color-reference {
    border-radius: 12px;
    background-color: #345;
    padding: 0.2em 0.5em; }

/*# sourceMappingURL=style.css.map */
